.fish-modal-container {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background-color: #ECE2D0;
    overflow: auto;
    border-radius: 4px;
    padding: 20px;
    outline: currentcolor none medium;
    width: 500px;
    height: 500px;
    margin: 100px auto auto auto;
    text-align: center;
}

.caught-fish-container {
    margin: auto;
    text-align: center;
}

.fish-image {
    width: 300px;
    height: auto;
}

.catch-fish-button {
    background-color: #D5B9B2;
    border: none;
    border-radius: 50px;
    margin: 10px 0 0 0;
    padding: 15px;
}

.catch-fish-button:hover {
    background-color: #b69187;
    cursor: pointer;
}