.fishing-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home-container {
}

.fishing-box {
    background-color: rgb(217, 240, 240);
    width: 500px;
    height: 500px;
}