@font-face {
    font-family: 'Sen';
    src: local('Sen'), url('../assets/fonts/Sen-Regular.ttf');
  }
  
  body, input, textarea, button {
    color: #414147;
    background-color: #FAFAFA;
    font-family: 'Sen';
    margin: 0;
    padding: 0;
  }